# Virtual environment
.venv/
venv/
env/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*

# Logs
*.log

# Mac system files
.DS_Store

# VS Code / IDE settings
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
